<div>
  <nav class="navbar navbar-light bg-light">
    <div class="container-fluid">
      <b> <a class="navbar-brand" href="#">Things To Be Done...!!!</a></b>
    </div>
  </nav>

  <div class="container-fluid">
      <h1 class="text-center mb-3">Todo List</h1>
    <app-todos></app-todos>
  </div>
</div>

<!-- <h1> Working Heading Tag</h1>

<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi libero rerum quisquam nulla maxime voluptatum eaque accusamus fugit enim quo eveniet fuga a veniam aut, quibusdam quod totam natus sequi. Repellat nesciunt aut iusto?
</p> -->
